<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamlink.communication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:name="com.dreamlink.communication.AppApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <meta-data
                android:name="app_id"
                android:value="111" />
         
         <activity
            android:name="com.dreamlink.communication.ui.StartLoader"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
           
        <activity 
            android:name="com.dreamlink.communication.ui.MainUIFrame"
            android:screenOrientation="portrait" 
            >
                <meta-data
                android:name="app_id"
                android:value="112"
                />
        </activity>
        <activity
            android:name="com.dreamlink.communication.MainActivity"
            android:label="@string/app_name" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        <activity
            android:name="com.dreamlink.communication.server.ClientListActivity"
            android:label="Client List"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.client.ServerListActivity"
            android:label="Server List"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.AppListActivity"
            android:label="@string/label_applist"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.fileshare.FileShareLauncher"
            android:label="@string/fileshare_label" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.action.app" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="app_id"
                android:value="101" />
        </activity>
        <activity
            android:name="com.dreamlink.communication.fileshare.FileListActivity"
            android:label="@string/fileshare_label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.fileshare.FileMainUI"
            android:label="@string/fileshare_label"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.dreamlink.communication.fileshare.FileShareServerService" >
        </service>

        <activity
            android:name="com.dreamlink.communication.StabilityTest"
            android:label="StabilityTest" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.action.app" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="app_id"
                android:value="200" />
        </activity>
        <activity
            android:name="com.dreamlink.communication.StabilityTestClient"
            android:label="StabilityTestClient"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.StabilityTestServer"
            android:label="StabilityTestServer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.UserInformationActivity"
            android:label="@string/lable_user_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.SpeedTest"
            android:label="SpeedTest" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.action.app" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="app_id"
                android:value="201" />
        </activity>
        <activity
            android:name="com.dreamlink.communication.SpeedTestClient"
            android:label="SpeedTestClient"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.SpeedTestServer"
            android:label="SpeedTestServer"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".SocketCommunicationService" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.ComService" />
            </intent-filter>
        </service>
        
        <!-- main ui start -->
        <activity 
            android:name="com.dreamlink.communication.ui.UserInfoSetting"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        <activity 
            android:name="com.dreamlink.communication.ui.app.AppFragmentActivity"
            ></activity>
        <activity 
            android:name="com.dreamlink.communication.ui.image.ImageFragmentActivity"
            ></activity>
        <activity 
            android:name="com.dreamlink.communication.ui.media.MediaFragmentActivity"
            ></activity>
        <activity 
            android:name="com.dreamlink.communication.ui.file.FileFragmentActivity"
            ></activity>
        <activity 
            android:name="com.dreamlink.communication.ui.file.RemoteShareActivity"
            >
        </activity>
        <activity 
            android:name="com.dreamlink.communication.ui.ConnectFriendActivity"
            android:theme="@android:style/Theme.Dialog"
            ></activity>
        <activity 
            android:name="com.dreamlink.communication.ui.image.ImagePagerActivity"
            />
        <service
            android:name="com.dreamlink.communication.ui.service.FileManagerService"
            />
        <activity 
            android:name="com.dreamlink.communication.ui.invite.InviteMainActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.dreamlink.communication.ui.invite.InviteBluetoothActivity"
            android:screenOrientation="portrait"
            ></activity>
        
        <activity 
            android:name="com.dreamlink.communication.ui.dialog.ExitActivity"
			android:theme="@style/MyDialogStyle"            
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.dreamlink.communication.ui.dialog.FileTransferActivity"
			android:theme="@style/MyDialogStyle"            
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.dreamlink.communication.ui.file.FileShareServer"
            android:screenOrientation="portrait"
            >
        </activity>
         <activity 
            android:name="com.dreamlink.communication.ui.file.LocalFolderDialog"
            android:screenOrientation="portrait"
            ></activity>
        <!-- main ui end -->
        
        <provider 
            android:name="com.dreamlink.communication.ui.db.DreamProvider"
            android:authorities="com.dreamlink.communication.db.comprovider"
            />
        <service
            android:name="com.dreamlink.communication.server.service.DirectService"
            />
        <service
            android:name="com.dreamlink.communication.server.service.WifiOrAPService"
            />
    </application>

</manifest>