<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamlink.communication"
    android:versionCode="1"
    android:versionName="@string/version_name" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.dreamlink.communication.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.dreamlink.communication.ui.StartLoader"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.MainUIFrame"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.MainFragmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="app_id"
                android:value="100" />
        </activity>
        <service android:name="com.dreamlink.communication.ui.service.FileTransferService" >
            <meta-data
                android:name="app_id"
                android:value="111" />
        </service>

        <activity
            android:name="com.dreamlink.communication.StabilityTest"
            android:label="StabilityTest"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.action.testapp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="app_id"
                android:value="200" />
        </activity>
        <activity
            android:name="com.dreamlink.communication.StabilityTestClient"
            android:label="StabilityTestClient"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.StabilityTestServer"
            android:label="StabilityTestServer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.SpeedTest"
            android:label="SpeedTest"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.action.testapp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="app_id"
                android:value="201" />
        </activity>
        <activity
            android:name="com.dreamlink.communication.SpeedTestClient"
            android:label="SpeedTestClient"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.SpeedTestServer"
            android:label="SpeedTestServer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.FileTransportTest"
            android:label="FileTransportTest"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.action.testapp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="app_id"
                android:value="202" />
        </activity>
        <activity
            android:name="com.dreamlink.communication.FileTransportTestClient"
            android:label="FileTransportTestClient"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.FileTransportTestServer"
            android:label="FileTransportTestServer"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".SocketCommunicationService" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.ComService" />
            </intent-filter>
        </service>

        <!-- main ui start -->
        <activity
            android:name="com.dreamlink.communication.ui.UserInfoSetting"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name="com.dreamlink.communication.ui.app.AppFragmentActivity" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.image.ImageFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.media.MediaFragmentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.file.FileFragmentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.file.RemoteShareActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="app_id"
                android:value="112" />
        </activity>
        <service android:name="com.dreamlink.communication.ui.file.RemoteShareServerService" >
            <meta-data
                android:name="app_id"
                android:value="112" />
        </service>
        <activity android:name="com.dreamlink.communication.ui.image.ImagePagerActivity" 
            android:screenOrientation="portrait"/>
	 	<activity android:name="com.dreamlink.communication.ui.image.PicturePagerActivity" 
	 	    android:screenOrientation="portrait"/>
        <service android:name="com.dreamlink.communication.ui.service.FileManagerService" />

        <activity android:name="com.dreamlink.communication.ui.history.HistoryActivity" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.file.LocalFolderDialog"
            android:screenOrientation="portrait" >
        </activity>
        <!-- main ui end -->
        <activity
            android:name="com.dreamlink.communication.ui.network.InviteBluetoothActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.network.CreateNetworkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.network.JoinNetworkActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.ui.help.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.debug.DebugActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dreamlink.communication.debug.TestListActivity"
            android:label="Test app list"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.action.debug" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dreamlink.communication.debug.NetworkStatus"
            android:label="Network status"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.action.debug" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dreamlink.communication.debug.CommunicationManagerStatus"
            android:label="Communication manager status"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.action.debug" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.dreamlink.communication.debug.ServiceStatus"
            android:label="Service status"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.dreamlink.communication.action.debug" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.dreamlink.communication.ui.db.DreamProvider"
            android:authorities="com.dreamlink.communication.db.comprovider" >
        </provider>
        <provider
            android:name="com.dreamlink.communication.ui.db.AppProvider"
            android:authorities="com.dreamlink.communication.db.app" >
        </provider>

        <service android:name="com.dreamlink.communication.server.service.DirectService" />
        <service android:name="com.dreamlink.communication.server.service.WifiOrAPService" />
    </application>

</manifest>